
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-transform: uppercase;
}

body {
    background-image: url(/images/login:register.jpeg);
    background-size: cover;
    
}

.navbar{
    background: rgba( 157, 111, 81, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 5%;
    max-height: 5vw;
    z-index: 1;
    
}

.navbar-content{
    display: flex;
    justify-content: space-between;
}

.navbar-content li{
    list-style: none;
}

.navbar-content a{
    text-decoration: none;
    color: black;
}

/* .nav-link{
    margin-right: 30px;
} */

.search-and-heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: center; */
    /* max-width: 100%; */
    /* margin-right: 10%; */
}

.navbar-header {
    color:white; 
    font-size: 30px;
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    white-space: nowrap;
    flex-direction: row;
    margin-right: 20%;

}

.navbar-products i{
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
    font-size: 20px;
    color: white;
    /* padding: 5px 5px; */
    color:white;
    text-decoration: none;
    margin-right: 25%;
}

.navbar-search{
    justify-content: center;
    margin-top: 8px;
}

.navbar-products i:hover {
    color: #583B34;
    transition: 5ms;

}

.nav-btns{
    display: flex;
    justify-content: flex-end;
    height:5vh;
    padding: 10px 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 20%;
}

.navbar-logout i{
    padding: 5px 30px;
    color:white;
    text-decoration: none;
}

.navbar-cart i{
    padding: 5px 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    
}

.navbar-cart i:hover, .navbar-logout i:hover{
    color: #583B34;
    transition: 5ms;
}

.heading{
    color: white;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}

#checkout-container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 100%;
    padding: 6% 15%;
    justify-content: center;
}

.user{
    display: flex;
    width: 35%;
    margin-right: 35px;
    background: rgba( 157, 111, 81, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    -webkit-box-shadow: 15px -8px 21px -2px rgba(0,0,0,0.75);
    border-radius: 20px;
    /* gap: 20px;
    margin-top: 50px; */
    z-index: -1;
}

.user_id {
    color: #583B34;
    text-align: center;
    font-size: 20px;
    margin:10px;
}

.email_address{
    display: flex;
    font-size: 17px;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top:20px;
}

.first_name{
    width: 100%;
    height: 30px;
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    margin-top:20px;
}

.delete{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.username{
    display: flex;
    justify-content: center;
    margin:40px;
    color: white;
    text-align: center;
    font-size:40px;
}

.btn-delete{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 18px;
    margin: 10px;
    /* margin-left: 25%; */
}

.btn-delete:hover{
    background-color: #583B34;
    cursor: pointer;
    transition: 5ms;
}

#cart{
    font-family: monospace;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.checkoutPage{
    background: rgba( 157, 111, 81, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    -webkit-box-shadow: 15px -8px 21px -2px rgba(0,0,0,0.75);
    border-radius: 20px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-self: center; */
    align-items: center;
    font-family: monospace;
}

.checkout-subheadings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    color: white;
}   

.checkout-subheadings span{
    display: flex;
    justify-content: space-around;
    margin: 150px;
}

.buttons{
    list-style-type: none;
    text-decoration: none;
    margin-top:10px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
}

.buttons a{
    text-decoration: none;
    color: white;
}

.product-heading {
    /* justify-content: space-around; */
    border-bottom: #583B34 2px solid;
    /* border-left: #583B34 2px solid; */
    /* margin: 10px */
}

.quantity-heading {
    /* justify-content: space-around; */
    border-bottom: #583B34 2px solid;
    /* margin: 10px */
}

.price-heading {
    /* justify-content: space-around; */
    border-bottom: #583B34 2px solid;
    /* margin: 10px */
    justify-self: flex-end;
}