
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    text-transform: uppercase;
}

body {
    background-image: url(/images/login:register.jpeg);
    background-size: cover;
}

.navbar{
    background: rgba( 157, 111, 81, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 5%;
    max-height: 5vw;
    z-index: 1;
    
}

.navbar-content{
    display: flex;
    justify-content: space-between;
}

.navbar-content li{
    list-style: none;
}

.navbar-content a{
    text-decoration: none;
    color: black;
}

.nav-link{
    margin-right: 30px;
}

.search-and-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* max-width: 100%; */
    margin-right: 15%;
}

.navbar-header {
    color:white; 
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    flex-direction: row;
    margin-left: 2%;

}

.navbar-search {
    margin-left:20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    /* margin-right: 150px; */
}

/* .navbar-search button {
    height:5vh;
    padding: 10px 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;

}

.navbar-search button:hover {
    color: #583B34;
    transition: 5ms; */
/* 
} */

/* .navbar-search input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: white 2px solid;
}

.navbar-search input:hover{
    color: #583B34;
    transition: 5ms;

} */

.nav-btns{
    display: flex;
    justify-content: space-between;
    height:5vh;
    padding: 10px 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 15%;
}

.navbar-logout i{
    padding: 5px 30px;
    color:white;
    text-decoration: none;
}

.navbar-cart i{
    padding: 5px 30px;
    color: white;
    
}

.navbar-cart i:hover, .navbar-logout i:hover{
    color: #583B34;
    transition: 5ms;
}

#product-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 6% 15%;
    justify-content: center;
}

.product{
    width: 35%;
    margin-right: 35px;
    background: rgba( 157, 111, 81, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    -webkit-box-shadow: 15px -8px 21px -2px rgba(0,0,0,0.75);
    border-radius: 20px;
    gap: 20px;
    margin-top: 50px;
    z-index: -1;
}

.product_id {
    color: #583B34;
    text-align: center;
    font-size: 40px;
    margin:10px;
}

.product_description{
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    color: #583B34;
}

.product_image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.cart {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.product_price{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    color: #49312B;
}

.product_title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size:20px;
}

.btn-cart{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 18px;
    margin: 10px;

}

.btn-cart:hover{
    background-color: #583B34;
    transition: 5ms;
}

.modal-header{
    color:white;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0;
}

.modal{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-self: center;
    opacity: 0;
    transition:  visibility 0s, opacity 0.5s ;
}

.modal-active{
    visibility: visible;
    opacity: 1;
}

.modal-content{
    background: rgba( 157, 111, 81, 0.95 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    z-index: 1;
    
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.close-modal{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

.create-btn{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

form input {
    background: rgba(163, 109, 59, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    border: none;
    font-family: monospace;
    outline: none;
    font-size: 18px;
    padding: 10px;
    margin:7px;
    width: 95%;
}

input::placeholder {
    text-transform: uppercase;
    color: silver;
    font-family: monospace;
    display: flex;
    font-size: 18px;
    justify-content: left;
  }

  .buttons{
    margin-top:10px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
  }

  .create-product {
    /* height:5vh; */
    padding: 5px 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    }

.create-product:hover {
    color: #583B34;
    transition: 5ms;
    }

/* second modal - update */
.updateModal-header{
    color:white;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0;
}

.updateModal{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-self: center;
    opacity: 0;
    transition:  visibility 0s, opacity 0.5s ;
}

.updateModal-active{
    visibility: visible;
    opacity: 1;
}

.updateModal-content{
    background: rgba( 157, 111, 81, 0.95 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    z-index: 1;
    
}

.updateModal-form{
    display: flex;
    flex-direction: column;
}

.close-updateModal{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

.update-btn{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

form input {
    background: rgba(163, 109, 59, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    border: none;
    font-family: monospace;
    outline: none;
    font-size: 18px;
    padding: 10px;
    margin:7px;
    width: 95%;
}

input::placeholder {
    text-transform: uppercase;
    color: silver;
    font-family: monospace;
    display: flex;
    font-size: 18px;
    justify-content: left;
  }

  .updateButtons{
    margin-top:10px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
  }

  .update-product {
    /* height:5vh; */
    padding: 5px 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    }

.update-product:hover {
    color: #583B34;
    transition: 5ms;
    }

/* third modal - delete */
.deleteModal-header{
    color:white;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0;
}

.deleteModal{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-self: center;
    opacity: 0;
    transition:  visibility 0s, opacity 0.5s ;
}

.deleteModal-active{
    visibility: visible;
    opacity: 1;
}

.deleteModal-content{
    background: rgba( 157, 111, 81, 0.95 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    z-index: 1;
    
}

.deleteModal-form{
    display: flex;
    flex-direction: column;
}

.close-deleteModal{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

.delete-btn{
    cursor: pointer;
    border: white 1px solid;
    background: rgba( 176, 134, 107, 0.60 );
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    margin: 10px;
} 

form input {
    background: rgba(163, 109, 59, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    border: none;
    font-family: monospace;
    outline: none;
    font-size: 18px;
    padding: 10px;
    margin:7px;
    width: 95%;
}

input::placeholder {
    text-transform: uppercase;
    color: silver;
    font-family: monospace;
    display: flex;
    font-size: 18px;
    justify-content: left;
  }

  .deleteButtons{
    margin-top:10px;
    margin: 10px;
    padding-bottom: 20px;
    display: flex;
    font-size: 20px;
  }

  .delete-product {
    /* height:5vh; */
    padding: 5px 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
    }

.delete-product:hover {
    color: #583B34;
    transition: 5ms;
    }