<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regsitration Successful!</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <div>
        <div class="h5_heading">
            <h5 class="heading">Your Regisitration has been successful!</h5>
        </div>
        <div class="info">
            <p>Please click on the button below and check your emails in order to log in!</p>
            <a href="/templates/login.html" class="button" type="submit" >Login</a>
        </div>
    </div>
</body>
</html>