<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beelders' Stores</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <nav class="admin">
        <div class="admin-links">
            <a  class="link" href="./admin_login.html">Admin LOGIN</a>
            <a class="link" href="./admin_register.html">Admin SIGN UP</a>
        </div>
    </nav>
    <div class="homepage">
        <div class="headings">
            <h2>Beelders</h2>
            <h4>Stores</h4>
        </div>
        <div class="links">
            <a  class="link" href="./login.html">LOGIN</a>
            <a class="link" href="./register.html">SIGN UP</a>
        </div>
    </div>
</body>
</html>