<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beelders Login Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div id="loginPage">
        <form id="form"
            action="https://flask-project-eomp.herokuapp.com/auth"
            method="GET">
        <h1 class="heading">User Login</h1>
        <div>
        <!-- Input for username -->
        <div>
          <div class="form-group">
            <input
              class="form-input"
              type="text"
              id="username"
              name="username"
              required
              placeholder="Username"
            />
          </div>
          <!-- Input for password -->
          <div class="form-group">
            <input
              class="form-input"
              type="text"
              name="password"
              id="password"
              required
              placeholder="Password"
            />
          </div>
        </div>
        <!-- back and login buttons-->
            <div class="buttons">
                <a  class="link" href="./home.html">Back</a>
                <a><button class="button" type="submit" onclick="login()" >Login</button></a>
            </div>
        
            </form>
        </div>
        <script src="/scripts/login.js"></script>
</body>
</html>